.search-box {
  appearance: none;
  border: 2px solid transparent;
  outline: none;
  font: inherit;
  font-size: 1rem;
  padding-inline: 1.125rem;
  padding-block: 0.875rem;
  line-height: 1.5;
  transition: all 250ms ease;
  border-radius: 1rem;
}
